@import "tailwindcss";

/* --- CUSTOM WEBKIT SCROLLBAR (Enterprise UI) --- */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: transparent;
  border-radius: 10px;
  transition: background-color 0.3s ease;
}

*:hover::-webkit-scrollbar-thumb {
  background-color: rgba(156, 163, 175, 0.3);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(156, 163, 175, 0.6);
}